.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
}

.new-task {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
  align-items: baseline;
}

.tasks mat-card {
  margin-bottom: 10px;
}